@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
  font-size: 12pt;
  font-family: EB Garamond, Serif;
}

a {
  color: #dc3522;
}

.orcid {
  width: 5mm;
  margin-left: .5em;
}

.fig {
  text-align: center;
}

.fig img {
  max-width: 80%;
  max-height: 4in;
}

figcaption {
  text-align: center;
  font-size: 10pt;
}

.header {
  border: 1px solid #dc3522;
  padding: 1em 1em 0 1em;
}

.header p {
  text-indent: 0;
}

.logos, .piece_info {
  display: flex;
}

.logos div {
  flex: 50%;
}

.logos div:nth-child(2) {
  text-align: right;
}

.logos div img {
  height: .75in;
}

.piece_info span {
  flex: 70%;
}

.piece_info span:nth-child(2) {
  text-align: right;
  flex: 30%;
}

p {
  text-indent: 2em;
}

p:first-of-type, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, .noindent p {
  text-indent: 0;
}

blockquote {
  margin-left: 5em;
}

.review > p:nth-child(1) {
  border: 1px solid #dc3522;
  padding: .5em
}

.review > p:nth-child(2) {
  text-indent: 0
}

h2.subtitle {
  margin-top: -.5em
}